<div class="hbox hbox-auto-sm hbox-auto-xs" ng-init="app.settings.asideFolded=false;app.settings.asideDock=false"></div>
<div class="col">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">IT技能</h1>
                <small class="text-muted">前端工程师养成记</small>
            </div>
        </div>
    </div>
    <div class="wrapper-md" >
        <div class="row">
            <div class="col-md-12">
                <div class="row row-sm text-center">
                   <div class="col-xs-6">
                       <div class="panel padder-v item">
                           <div class="h1 text-info font-thin">521</div>
                           <span class="text-muted text-xs">新的条目数</span>
                           <div class="top text-right w-full">
                               <i class="fa fa-caret-down text-warning m-r-sm"></i>
                           </div>
                       </div>
                   </div>
                    <div class="col-xs-6">
                        <a href class="block panel padder-v item bg-primary">
                            <div class="h1 text-info font-thin">930</div>
                            <span class="text-muted text-xs">上传的文件数</span>
                            <div class="bottom text-right w-full">
                                <i class="fa fa-cloud-upload text-muted m-r-sm"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href class="block panel padder-v item bg-info">
                            <span class="h1 text-white font-thin block">432</span>
                            <span class="text-muted text-xs">收到的评论数</span>
                            <div class="top text-left">
                                <i class="fa fa-caret-up text-warning m-r-sm"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel padder-v item">
                            <div class="h1 text-info font-thin">129</div>
                            <span class="text-muted text-xs">反馈</span>
                            <div class="bottom text-left w-full">
                                <i class="fa fa-caret-up text-warning m-r-sm"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel wrapper">
            <div class="row">
                <div class="col-md-4  b-light no no-border-xs">
                    <h4 class="font-thin m-t-none m-b-md text-muted">My Tasks</h4>
                    <div class="m-b">
                        <div class="m-b">
                            <span class="label text-base bg-warning pos-rlt m-r"><i class="arrow right arrow-warning"></i>19:30</span>
                            <a>喂猫</a>
                        </div>
                        <div class="m-b">
                            <span class="label text-base bg-info pos-rlt m-r"><i class="arrow right arrow-info"></i>12:30</span>
                            <a>钓鱼</a>
                        </div>
                        <div class="m-b">
                            <span class="label text-base bg-primary pos-rlt m-r"><i class="arrow right arrow-primary"></i>10:30</span>
                            <a>启动会议</a>
                        </div>
                        <div class="m-b">
                            <span class="label text-base bg-light pos-rlt m-r"><i class="arrow right arrow-light"></i>07:30</span>
                            <a>晨跑</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  b-light no no-border-xs">

                    <h4 class="font-thin m-t-none m-b-md text-muted">&nbsp;</h4>
                    <div class="m-b">
                        <div class="m-b">
                            <span class="label text-base bg-warning pos-rlt m-r"><i class="arrow right arrow-warning"></i>19:30</span>
                            <a>喂猫</a>
                        </div>
                        <div class="m-b">
                            <span class="label text-base bg-info pos-rlt m-r"><i class="arrow right arrow-info"></i>12:30</span>
                            <a>钓鱼</a>
                        </div>
                        <div class="m-b">
                            <span class="label text-base bg-primary pos-rlt m-r"><i class="arrow right arrow-primary"></i>10:30</span>
                            <a>启动会议</a>
                        </div>
                        <div class="m-b">
                            <span class="label text-base bg-light pos-rlt m-r"><i class="arrow right arrow-light"></i>07:30</span>
                            <a>晨跑</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  b-light no no-border-xs">

                    <h4 class="font-thin m-t-none m-b-md text-muted">&nbsp;</h4>
                    <div class="m-b">
                        <div class="m-b">
                            <span class="label text-base bg-warning pos-rlt m-r"><i class="arrow right arrow-warning"></i>19:30</span>
                            <a>喂猫</a>
                        </div>
                        <div class="m-b">
                            <span class="label text-base bg-info pos-rlt m-r"><i class="arrow right arrow-info"></i>12:30</span>
                            <a>钓鱼</a>
                        </div>
                        <div class="m-b">
                            <span class="label text-base bg-primary pos-rlt m-r"><i class="arrow right arrow-primary"></i>10:30</span>
                            <a>启动会议</a>
                        </div>
                        <div class="m-b">
                            <span class="label text-base bg-light pos-rlt m-r"><i class="arrow right arrow-light"></i>07:30</span>
                            <a>晨跑</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel no-border">
                    <div class="panel-heading wrapper b-b b-light">
                        <span class="text-xs text-muted pull-right">
                            <i class="fa fa-circle text-primary m-r-xs"></i>12
                            <i class="fa fa-circle text-info m-r-xs m-l-sm"></i>12
                            <i class="fa fa-circle text-primary m-r-xs m-l-sm"></i>98
                        </span>
                        <h4 class="font-thin m-t-none m-b-none text-muted">团队成员</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="member in members">
                            <a class="thumb-sm m-r">
                                <img src="img/{{member.img}}" class="r r-2x">
                            </a>
                            <span class="pull-right label bg-primary inline m-t-sm">{{member.position}}</span>
                            <a href>{{member.name}}</a>
                        </li>
                    </ul>
                    <div class="panel-footer">
                        <span class="pull-right badge badge-bg m-t-xs">32</span>
                        <button class="btn btn-primary btn-addon btn-sm"><i class="fa fa fa-plus"></i>增加新成员</button>
                    </div>
                </div>
            </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="member in members">
                        <a class="thumb-sm m-r">
                            <img src="img/{{member.img}}" class="r r-2x">
                        </a>
                        <span class="pull-right label bg-primary inline m-t-sm">{{member.position}}</span>
                        <a href>{{member.name}}</a>
                    </li>
                </ul>
        </div>
    </div>
</div>