<div ng-controller="NoteController" class="hbox hbox-auto-xs hbox-auto-sm">
   <div class="col w-lg lt b-r">
       <div class="vbox">
           <div class="wrapper">
               <a href class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="createNote()">New</a>
            <div class="h4">笔记</div>
           </div>
           <div class="wrapper b-t m-t-xxs">
              <div class="input-group">
                  <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control input-sm" placeholder="search" ng-model="query">
              </div>
           </div>
           <div class="row-row">
               <div class="cell scrollable hover">
                   <div class="cell-inner">
                       <div class="padder">
                           <div class="list-group">
                               <a ng-repeat="note in notes | filter:query |orderBy:date "  ng-click="selectNote(note)" class="list-group-item b-l-{{note.color}} b-l-3x hover-anchor" ng-class="{'hover':note.selected}">
                                   <span ng-click="deleteNote(note)" class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                                   <span class="block text-ellipsis">{{note.content}}</span>
                                   <small class="text-muted">{{ note.date | fromNow }}</small>
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
    <div class="col">
        <div class="vbox">
            <div class="wrapper bg-light lt b-b">
                <span class="text-muted">Created on</span>
                <span>{{note.date | date:'MMM-dd-yyyy H:mm'}}</span>
            </div>
            <div class="cell-inner">
                <textarea class="form-control no-radius no-border ng-bg wrapper-lg text-md" style="height: 100%" ng-model="note.content"></textarea>
            </div>
        </div>
    </div>
</div>