<div class="hbox hbox-auto-xs bg-light" ng-controller="CustomTabController">
<div class="col w" >
    <div class="vbox">
        <div class="wrapper">
            <div class="h4">Header</div>
        </div>
        <div class="nav-tabs-alt">
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="{'active':tabs[0]}">
                    <a href ng-click="tab(0)">Day</a>
                </li>
                <li ng-class="{'active':tabs[1]}">
                    <a href ng-click="tab(1)">Month</a>
                </li>
                <li ng-class="{'active':tabs[2]}">
                    <a href ng-click="tab(2)">Month</a>
                </li>
            </ul>
        </div>
        <div class="row-row">
            <div class="cell scrollable hove">
                <div class="cell-inner">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active':tabs[0]}">
                            <div class="wrapper-md">
                                每天发酵爱哦大家爱哦都是
                            </div>
                        </div>
                        <div class="tab-pane" ng-class="{'active':tabs[1]}">
                            <div class="wrapper-md">
                                每月发酵爱哦大家爱哦都是
                            </div>
                        </div>
                        <div class="tab-pane" ng-class="{'active':tabs[2]}">
                            <div class="wrapper-md">
                                每年发酵爱哦大家爱哦都是
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div class="col">
        <div class="vbox">
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper-md">
                            这里是可以滚动的区域
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col w-md lter b-l">
        <div class="vbox">
            <div class="wrapper b-b b-light">
                <div class="h4">Header</div>
                <small class="text-muted">到静安寺到静安寺</small>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper-md">
                            这里是可以滚动的区域
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                            <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p> <p>dusdajsd</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>